[submodule "components/src/github.com/pingcap/tidb"]
	path = components/src/github.com/pingcap/tidb
	url = https://github.com/PHILO-HE/tidb.git
	branch = rc4
[submodule "components/src/github.com/pingcap/tikv"]
	path = components/src/github.com/pingcap/tikv
	url = https://github.com/PHILO-HE/tikv.git
	branch = rc4
[submodule "components/src/github.com/pingcap/pd"]
	path = components/src/github.com/pingcap/pd
	url = https://github.com/PHILO-HE/pd.git
	branch = rc4
